<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.springworks.whenismybus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />
	
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
		
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
					
	<permission
        android:name="se.springworks.whenismybus.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
	<uses-permission android:name="se.springworks.whenismybus.permission.MAPS_RECEIVE"/>

    <application
        android:name="se.springworks.whenismybus.application.Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

		<meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyCwiU6kWxX6_FwVADzEHbyGtHgmAO2IgDY"/>        

		<activity
            android:name="se.springworks.whenismybus.activity.SearchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<receiver android:name="se.springworks.whenismybus.Widget1x1"
		    android:label="@string/widget_1x1"
		    android:icon="@drawable/ic_launcher">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget1x1"/>
		</receiver>
		<receiver android:name="se.springworks.whenismybus.Widget2x1"
		    android:label="@string/widget_2x1"
		    android:icon="@drawable/ic_launcher">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget2x1"/>
		</receiver>
		<receiver android:name="se.springworks.whenismybus.Widget4x1"
		    android:label="@string/widget_4x1"
		    android:icon="@drawable/ic_launcher">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget4x1"/>
		</receiver>
				
		<service android:name="se.springworks.whenismybus.WidgetService"></service>
	</application>
</manifest>
